.card{
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #023047;
    overflow: hidden;
    /* flex-grow: 1; */
}

.actionbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.actionbtn * {
    cursor: pointer;
    padding: 3px;
    transition: all 0.2s ease;
    font-size: 1.5rem;
}

.actionbtn *:hover {
    transform: scale(1.2);
}

.todoText{
    flex: 1;
    text-align: start;
    border: none;
    text-overflow :ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.todoText:focus{
    outline: none;
}


.editInput{
    background-color: white;
    color: black;
    padding: 2px 10px;
    border-radius: 5px;
    /* outline: none; */
    flex: 1;
    margin-right: 10px;
}


/* RESPONSIVE */
@media (max-width : 1250px) {
    .card{
        width: 85%;
    }
    .actionbtn {
        gap: 0.5rem;
    }
}

@media (max-width : 950px) {
    .card{
        width: 45%;
    }

    .actionbtn {
        gap: 0;
    }
}

@media (max-width : 800px) {
    .card{
        width: 90%;
    }
}