.wrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 70px auto;
    align-items: flex-start;
}

.todoList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    flex-wrap: wrap;
    padding: 20px 10px;
    border-radius: 1rem;
    min-height : 119px;
}

.todoListCompleted{
    background-color: rgba(214,40,40,0.6 );
}

.todoListActive{
    background-color:  rgb(234, 226, 183);
}
.heading{
    align-self: self-start;
    width: 100%;
    text-align: start;
    padding-left: 10px;
    font-size: 30px;
    color: rgb(20, 21, 53);
    font-weight: bold;
}

@media (max-width : 1250px) {
    .todoList{
        flex-direction: column;
    }
    .heading{
        font-size: 25px;
    }
}


@media (max-width : 950px) {
    .todoList{
        width: 95%;
        flex-direction: row;
        margin: 15px;
        justify-content: space-around;
    }
    .wrapper{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .heading{
        font-size: 20px;
    }
}